@import "_reset";

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

app-header{
  display:flex;
  flex-direction:column;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  box-shadow: 1px 1px 3px black;
}

app-header a {
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-size: 1.1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  margin-right: 8px;
}

button {
  margin-left: 8px;
  font-weight: bold;
}

.todos.active a, .completati.active a{
  color: black;
  text-decoration:underline;
}

.todos.disabled a {
  text-decoration: none;
}
