h1, h3{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  font-weight:bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.341);
}

.btn{
  box-shadow: 1px 1px 8px black;
  width: 100px;
}
