@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
html {
    font-size: 62.5%;
}

body { 
    display:block;
    color: #393d41;
    font-weight: 400;
    font-family: Open Sans;
    font-size: 1.2rem;
    line-height: 1.65;
    text-align: center;
}

header {
    background-color:black;
}

.logo {
    text-align:center;
    padding: 30px;
    margin: 0 auto;
}
.logo img {
    width: 110px;
    height: 35px;
}

.prima-parte {
    background-image: url('../images/banner.jpg');
    background-position: center;
    padding: 50px;
    margin: 0 auto;
    height: 400px;
    font-size: 2.4rem;
}

.prima-parte h1, .prima-parte p{
    margin-top: 10px;
    margin-bottom: 20px;
}

.notebook {
    text-align:center;
}

section img{
    border-radius: 100%;
    width: 80%;
    height: 80%;
    padding: 10px;
}

section h2, section p {
    margin-bottom: 10px
}

button {
    background-color: #f04c2f;
    font-family: Montserrat (bold) – bold;
    font-weight: 700;
    line-height: 1.5;
    color:white;
    margin-top: 30px;
    padding: 10px 10px;
    border: 0;
    border-radius: 5%;
    width: 150px;
    height: 50px;
}

h1, h2 {
    color: #25a2c3;
    font-family: Montserrat (bold);
    font-weight: 700;
    line-height: 1.5;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

h4 {
    margin-top: 20px;
}
section {
    padding: 50px;
    font-size: 2rem;
}

section h2 {
    margin-top: 20px;
}

.blockquote {
    background-color:#e22d0e;
    padding: 50px;
    margin: 0 auto;
    height: 250px;
    font-size: 2rem;
    color:white;
}

.blockquote h1 {
    color:white;
    padding: 10px;
    margin-bottom: 3px;

}

.blockquote p {
    font-style:italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

article {
    display:flex;
    justify-content: center;
    flex-direction:column
}

.zona1 {
    border: 1px solid #dee1e3;
    margin:2.5em;
    box-sizing: border-box;
    border-radius: 1%;
}

.zona1 h2 {
    padding: 20px;
    font-size: 2rem;
}

.zona1 p{
    margin-bottom: 20px;
    font-size: 1.5rem;
    padding: 10px;
}

.zona2 {
    border: 1px solid #dee1e3;
    margin: 2.5em;
    box-sizing: border-box;
    border-radius: 1%;
}

.zona2 h2 {
    padding: 20px;
    font-size: 2rem;
}

.zona2 p{
    margin-bottom: 20px;
    font-size: 1.5rem;
    padding: 10px;
}

.zona3 {
    border: 1px solid #dee1e3;
    border-radius: 1%;
    margin:2.5em;
    box-sizing: border-box;
}

.zona3 h2 {
    padding: 20px;
    font-size: 2rem;
}

.zona3 p{
    margin-bottom: 20px;
    font-size: 1.5rem;
    padding: 10px;
}

footer {
    color: #393d41;
    background-color: #25a2c3;
    padding: 100px;
    height: 200px;
    color: #c8e7f0;
    margin: 0 auto;

}

footer h1 {
    margin-top: -50px;
}


footer h1, i {
    color: white;
}

footer a:link {
    color: #c8e7f0;
}

address {
    font-size: 1.8rem;
    text-decoration: none;
    color: #c8e7f0;
    padding: 20px;
}