body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 800px;
  height: 450px;
  margin: auto;
  box-shadow: 1px 1px 3px black;
  padding: 20px;
}

.btn{
  box-shadow: 1px 1px 8px black;
  width: 100px;
}

input{
  margin: 5px;
}

h5{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  font-weight:bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.341);
}

@media screen and (max-width: 575px){
  input{
    width: 270px;
  }
}
